<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prabishastartupnetwork">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrabishaStartupNetwork">
        <activity android:name=".ServicesActivity"></activity>
        <activity
            android:name=".CareersActivity"/>
        <activity
            android:name=".InternshipAvtivity" />
        <activity
            android:name=".FAQsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LandDActivity" />
        <activity
            android:name=".ManteesActivity" />
        <activity
            android:name=".MentorsActivity" />
        <activity
            android:name=".HomeLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InternationalActivity" />
        <activity android:name=".RuralActivity" />
        <activity android:name=".WomenActivity" />
        <activity android:name=".SocialWorkActivity" />
        <activity android:name=".HealthcareActivity" />
        <activity android:name=".EducationActivity" />
        <activity android:name=".TechnologyActivity" />
        <activity
            android:name=".logInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".StartQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BlogActivity" />
        <activity android:name=".ResourcesActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".PSNVideoActivity" />
        <activity android:name=".StartupStoryActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>